@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 336px;
    height: auto;
    border: 1px solid #C4C4C4;
    border-radius: 13px;
}

.container {
    width: 336px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.yellow {
    background-color: #ffe14f;
    height: 28px;
    width: 335px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.task-list span {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 87%;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
}

.sorting {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 80%;

}

.sorting img {
    width: 25px;
    height: 15px;
}

.sort-btn {
    border: none;
    outline: none;
    background-color: white;
}

.input {
    width: 286px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #C4C4C4;
    border-radius: 9px;
    padding: 8px 20px;
    margin-bottom: 20px;
}

.item {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.input .x {
    background-color: white;
    border: 1px solid #C4C4C4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.add {
    width: 150px;
    height:auto;
    display: flex;
    /* justify-content: center; */
    margin-bottom: 15px;
    align-items: center;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #833AE0;
}


.plus {
    width: 42px;
    color: white;
    height: 42px;
    border: none;
    background-color: #9953F1;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 20px;
}

.addText {
    padding: 10px 20px;
    color: white;
    /* border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; */
    border: none;
    background-color: transparent;

}

.x:hover {
    background-color: #9953F1;
}

.task-list {
    width: 286px;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.task .x {
    background-color: white;
    border: 1px solid #C4C4C4;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task .x:hover {
    background-color: #9953F1;
}

.hidden {
    display: none !important;
}